<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Agenda.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Agenda.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>suporte1</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>sso_drs</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="Charset" serializeAs="String">
                <value>utf8</value>
            </setting>
            <setting name="LastLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="PreViewSO" serializeAs="String">
                <value>False</value>
            </setting>
        </Agenda.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AtendeClienteServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="AtendeClienteServiceSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente"
                binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding"
                contract="WSCorreios.AtendeCliente" name="AtendeClientePort" />
        </client>
    </system.serviceModel>
</configuration>